@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/mixins' as mixins;

.hero {
  padding-top: 0;

  @media screen and (min-width: vars.$md) {
    padding-top: 5rem;
  }

  .text {
    @include mixins.flex(center, flex-start, column);
    gap: 2.25rem;

    .heading {
      filter: drop-shadow(-2px 0px 10px rgba(0, 0, 0, 0.5));

      @media screen and (min-width: vars.$md) {
        filter: none;
      }

      &__line {
        display: block;
        font-size: 5.5vw;
        font-weight: 800;
        text-align: center;

        @media screen and (min-width: vars.$md) {
          text-align: left;
        }

        @media screen and (min-width: vars.$xl) {
          font-size: 3.5rem;
        }

        @media screen and (min-width: vars.$xxl) {
          font-size: 4.5rem;
        }

        &--bigger {
          font-size: 13vw;

          @media screen and (min-width: vars.$xl) {
            font-size: 9rem;
          }

          @media screen and (min-width: vars.$xxl) {
            font-size: 10rem;
          }
        }
      }
    }
  }

  .heroImage {
    position: absolute;
    left: -16rem;
    user-select: none;
    z-index: -2;

    @media screen and (min-width: vars.$md) {
      left: auto;
      right: calc(50vw - 32.5rem);
      z-index: 0;
    }

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      border-radius: 2px;
      position: absolute;
      left: 0;
      bottom: 4px;
      background: vars.$color-primary;
    }

    img {
      mix-blend-mode: luminosity;
    }
  }
}
