@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/mixins' as mixins;

.hero {
  min-height: 889px;
  padding-top: 0;
  padding-bottom: 3.75rem;
  @include mixins.flex(center, center, row);
  @include mixins.background('/images/backgrounds/line1.svg');

  @media screen and (min-width: vars.$md) {
    padding-top: vars.$sections-spacing;
    padding-bottom: vars.$sections-spacing;
    @include mixins.flex(space-between, center, row);
  }

  .text {
    @include mixins.flex(center, flex-start, column);
    gap: 2.25rem;
    z-index: 1;

    @media screen and (min-width: vars.$md) {
      z-index: 0;
    }

    .heading {
      @include mixins.drop-shadow;

      @media screen and (min-width: vars.$md) {
        filter: none;
      }

      &__line {
        display: block;
        font-size: 5.5vw;
        font-weight: 800;
        text-align: center;

        @media screen and (min-width: vars.$md) {
          text-align: left;
        }

        @media screen and (min-width: vars.$xl) {
          font-size: 3.5rem;
        }

        @media screen and (min-width: vars.$xxl) {
          font-size: 4.5rem;
        }

        &--bigger {
          font-size: 13vw;

          @media screen and (min-width: vars.$xl) {
            font-size: 9rem;
          }

          @media screen and (min-width: vars.$xxl) {
            font-size: 10rem;
          }
        }
      }
    }
  }

  .heroImage {
    position: absolute;
    left: -16rem;
    user-select: none;

    @media screen and (min-width: vars.$md) {
      left: auto;
      right: calc(50vw - 32.5rem);
    }

    &::after {
      content: '';
      width: 90%;
      height: 2px;
      border-radius: 2px;
      position: absolute;
      left: 5%;
      bottom: 4px;
      background: vars.$color-primary;

      @media screen and (min-width: vars.$md) {
        width: 100%;
        left: 0;
      }
    }
  }
}

.latestProjects {
  min-height: calc(889px + vars.$header-height);
  padding-top: calc(2 * vars.$sections-spacing);
}

.technologies {
  min-height: auto;

  .technologiesList {
    width: 100%;
    border: 1px solid vars.$border-color;
    border-radius: 0.625rem;
    @include mixins.flex(center, center, column);
    list-style-type: none;

    @media screen and (min-width: vars.$md) {
      @include mixins.flex(space-between, center, row);
    }

    .technology {
      width: 100%;
      height: 9rem;
      border-bottom: 1px solid vars.$border-color;
      @include mixins.flex(center, center, column);
      gap: 0.75rem;

      @media screen and (min-width: vars.$md) {
        width: 25%;
        border-right: 1px solid vars.$border-color;
        border-bottom: none;
      }

      &:last-child {
        border-right: none;
        border-bottom: none;
      }

      &__icon {
        width: 2.25rem;
        height: 2.25rem;

        @media screen and (min-width: vars.$md) {
          transition: 0.2s ease;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      &__name {
        font-size: 0.875rem;
      }
    }
  }
}

.contact {
  padding-bottom: calc(2 * vars.$sections-spacing);

  .contactCards {
    width: 100%;
    @include mixins.flex(space-between, center, column);
    gap: vars.$components-spacing;

    @media screen and (min-width: vars.$md) {
      @include mixins.flex(space-between, center, row);
    }

    .linkedIn {
      @include mixins.flex(center, center, column);
      gap: 1.5rem;

      .profile {
        @include mixins.flex(center, center, row);
        flex-wrap: wrap;
        gap: 1rem;

        &__image {
          width: 2.75rem;
          height: 2.75rem;

          img {
            border-radius: 100%;
          }
        }

        &__name {
          font-size: 1.125rem;
          font-weight: 700;
          text-align: center;
        }
      }

      .workplace {
        &__logo {
          width: 1rem;
          height: 1rem;
          margin-right: 0.5rem;
          display: inline-block;
          position: relative;
          top: 2px;

          @media screen and (min-width: vars.$md) {
            transition: 0.2s ease;

            &:hover {
              transform: scale(1.2);
            }
          }
        }

        &__name {
          font-size: 0.875rem;
          font-weight: 200;
        }
      }
    }

    .email {
      .address {
        @include mixins.flex(center, center, row);
        flex-wrap: wrap;
        font-size: 1.125rem;
        font-style: normal;

        &__name {
          font-weight: 700;
        }

        &__domain {
          font-weight: 200;
        }
      }
    }
  }
}
