@use 'styles/abstracts/variables' as vars;

@mixin max-width {
  max-width: vars.$max-layout-width;
  margin: 0 auto;
}

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin blur {
  background: vars.$color-black;

  @supports (
    (
        -webkit-backdrop-filter: saturate(vars.$filter-saturate) blur(vars.$filter-blur)
      )
      or
      (backdrop-filter: saturate(vars.$filter-saturate) blur(vars.$filter-blur))
  ) {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: saturate(vars.$filter-saturate) blur(vars.$filter-blur);
  }
}

@mixin background($location) {
  background-image: linear-gradient(0deg, vars.$color-black 0%, transparent 20%),
    linear-gradient(90deg, vars.$color-black 0%, transparent 20%),
    linear-gradient(270deg, vars.$color-black 0%, transparent 20%),
    url($location),
    radial-gradient(at 46% 50%, vars.$color-primary 0, transparent 40%);
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin shadow-border-bottom {
  box-shadow: inset 0 -1px 0 0 vars.$border-color;
}

@mixin drop-shadow {
  filter: drop-shadow(-2px 0px 8px rgba(0, 0, 0, 0.3));
}
