/* Colors */
$color-primary: #00b7ce;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #888888;

/* Typography */
$font-primary: 'Inter';
$fallback-font: sans-serif;

/* Layout */
$max-width: 2160px;

/* Breakpoints */
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
