/* Colors */
$color-primary: #00b7ce;
$color-error: #ff443a;
$color-ok: #32d74b;
$color-white: #ffffff;
$color-grey: #888888;
$color-dark-grey: #111111;
$color-black: #000000;

/* Borders */
$border-color: hsla(0, 0%, 100%, 0.1);

/* Filters */
$filter-blur: 5px;
$filter-saturate: 180%;

/* Typography */
$font-primary: 'Inter';
$fallback-font: sans-serif;

/* Layout */
$max-layout-width: 2160px;
$desktop-layout-paddings: 15rem;
$mobile-layout-paddings: 1.5rem;
$sections-spacing: 8rem;
$components-spacing: 5rem;

/* Components */
$header-height: 5rem;

/* Breakpoints */
$xxs: 350px;
$xs: 582px;
$md: 1041px;
$lg: 1200px;
$xl: 1473px;
$xxl: 1585px;
