@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/mixins' as mixins;

.form {
  max-width: 30rem;
  width: 100%;
  min-height: 38rem;
  padding: 2.5rem;
  border: 1px solid vars.$border-color;
  @include mixins.flex(space-between, flex-start, column);
  gap: 2.5rem;
  border-radius: 1rem;
  background: vars.$color-black;

  &__heading {
    font-size: 1.625rem;

    @media screen and (min-width: vars.$xxs) {
      font-size: 1.875rem;
    }
  }
}
