@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/mixins' as mixins;

.footer {
  width: 100%;
  @include mixins.max-width;
  padding: vars.$sections-spacing vars.$mobile-layout-paddings;
  border-top: 1px solid vars.$border-color;
  background: vars.$color-black;
  transition: 0.4s ease;

  @media screen and (min-width: vars.$xl) {
    padding: vars.$sections-spacing vars.$desktop-layout-paddings;
  }

  .content {
    @include mixins.flex(center, center, column);
    gap: 2.75rem;

    @media screen and (min-width: vars.$md) {
      @include mixins.flex(space-between, center, row);
    }

    .copyright {
      @include mixins.flex(flex-start, center, column);
      gap: 2.75rem;

      @media screen and (min-width: vars.$md) {
        @include mixins.flex(flex-start, flex-start, column);
        gap: 1.5rem;
      }

      &__text {
        font-size: 0.875rem;
        color: vars.$color-grey;
        text-align: center;
      }
    }

    &__socialMedia {
      @include mixins.flex(center, center, row);
      flex-wrap: wrap;
      gap: 2.75rem;
    }
  }
}
