@use 'styles/abstracts/variables' as vars;

.input {
  width: 100%;
  padding: 0.625rem 0;
  border-bottom: 1px solid vars.$color-grey;
  border-radius: 0;
  outline: none;
  background: none;
  font-size: 0.875rem;
  transition: 0.2s ease;

  @media screen and (min-width: vars.$md) {
    width: 23rem;
  }

  &:focus {
    border-color: vars.$color-primary;

    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    color: vars.$color-grey;
    transition: 0.2s ease;
  }

  &--error {
    border-color: vars.$color-error;
  }
}
