@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/mixins' as mixins;

.header {
  height: 6rem;
  padding: 0 6rem;
  @include mixins.flex(space-between, center, row);

  .nav {
    @include mixins.flex(space-between, center, row);

    .navRoutes {
      margin-right: 3rem;
      @include mixins.flex(space-between, center, row);
      gap: 3rem;
      list-style-type: none;

      .route {
        &__name {
          font-size: 1.125rem;
          color: vars.$color-grey;
          text-decoration: none;

          @media screen and (min-width: vars.$lg) {
            transition: 0.2s ease;

            &:hover {
              color: vars.$color-white;
            }
          }

          &--active {
            font-weight: 700;
            color: vars.$color-primary;
          }
        }
      }
    }
  }

  .locales {
    @include mixins.flex(space-between, center, row);
    gap: 1rem;
    text-transform: uppercase;

    &__locale {
      width: 1.5rem;
      height: 2rem;
      @include mixins.flex(center, center, row);
      position: relative;
      font-size: 1.125rem;
      text-decoration: none;

      @media screen and (min-width: vars.$lg) {
        &::after {
          content: '';
          width: 0;
          height: 2px;
          border-radius: 2px;
          display: block;
          position: absolute;
          bottom: -1px;
          left: 50%;
          background: vars.$color-white;
          transition: width 0.2s ease 0s, left 0.2s ease 0s;
        }

        &:hover::after {
          width: 100%;
          left: 0;
        }
      }

      &--active {
        color: vars.$color-primary;

        @media screen and (min-width: vars.$lg) {
          &::after {
            background: vars.$color-primary;
          }
        }
      }
    }

    &__pipe {
      width: 2px;
      height: 14px;
      border-radius: 2px;
      background: vars.$color-white;
    }
  }
}
