@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/mixins' as mixins;

.logotype {
  @include mixins.flex(flex-start, center, row);

  &__image {
    width: 2.75rem;
    height: 2.75rem;
    margin-right: 1rem;

    @media screen and (min-width: vars.$lg) {
      transition: 0.2s ease;

      &:hover {
        transform: scale(1.2);
      }
    }

    img {
      border-radius: 100%;
    }
  }

  &__text {
    font-weight: 700;
    text-decoration: none;

    @media screen and (min-width: vars.$lg) {
      transition: 0.2s ease;

      &:hover {
        color: vars.$color-primary;
      }
    }
  }
}
