@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/mixins' as mixins;

.project {
  width: 100%;
  height: 8rem;
  border: 1px solid vars.$border-color;
  border-radius: 0.625rem;
  @include mixins.flex(flex-start, center, row);
  text-decoration: none;
  background: vars.$color-black;
  cursor: pointer;

  @media screen and (min-width: vars.$md) {
    transition: 0.2s ease;

    &:hover {
      border-color: vars.$color-primary;
    }
  }

  &--latestProjectsSection {
    &::before {
      content: '';
      width: 1.313rem;
      height: 1.313rem;
      border: 5px solid vars.$color-grey;
      border-radius: 100%;
      position: absolute;
      left: 0;
      background: vars.$color-black;
      box-shadow: 0px 0px 90px 20px vars.$color-primary;
      pointer-events: none;
      z-index: 1;

      @media screen and (min-width: vars.$md) {
        left: calc(50% - 0.6565rem);
      }
    }
  }

  .content {
    width: 75%;
    height: 100%;
    padding: 1.5rem;
    @include mixins.flex(center, flex-start, column);
    gap: 0.625rem;

    &__name {
      font-size: 1.125rem;
      font-weight: 700;
    }

    &__type {
      font-size: 0.875rem;
      color: vars.$color-grey;
    }
  }

  .technology {
    width: 25%;
    height: 100%;
    border-left: 1px solid vars.$border-color;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    @include mixins.flex(center, center, row);
    box-sizing: content-box;
    background: vars.$color-dark-grey;

    &__icon {
      width: 55%;
      height: 2.25rem;
      position: relative;
    }
  }
}
