@use 'styles/abstracts/variables' as vars;

.icon {
  width: 2.75rem;
  height: 2.75rem;
  display: block;

  @media screen and (min-width: vars.$md) {
    transition: 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}
