@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/mixins' as mixins;

.socialMedia {
  display: none;

  @media screen and (min-width: vars.$lg) {
    @include mixins.flex(space-between, center, column);
    gap: 4.5rem;
    list-style-type: none;
  }

  .icon {
    display: block;
    transition: 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }

    svg {
      width: 2.75rem;
      height: 2.75rem;

      path {
        fill: vars.$color-white;
      }
    }
  }
}
