@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/mixins' as mixins;

.contact {
  @include mixins.background-image(
    '/images/backgrounds/line3.svg',
    '/images/backgrounds/line4.svg',
    radial-gradient(at 50% 50%, vars.$color-primary 0, transparent 0%)
  );

  .contactCards {
    width: 100%;
    @include mixins.flex(space-between, center, column);
    gap: 3rem;
    background: radial-gradient(
      at 50% 50%,
      vars.$color-primary 0,
      transparent 60%
    );

    @media screen and (min-width: vars.$md) {
      @include mixins.flex(space-between, center, row);
    }

    .linkedIn {
      @include mixins.flex(center, center, column);
      gap: 1.5rem;

      .profile {
        @include mixins.flex(center, center, row);
        flex-wrap: wrap;
        gap: 1rem;

        &__image {
          width: 2.75rem;
          height: 2.75rem;

          img {
            border-radius: 100%;
          }
        }

        &__name {
          font-size: 1.125rem;
          font-weight: 700;
          text-align: center;
        }
      }

      .workplace {
        &__logo {
          width: 1rem;
          height: 1rem;
          margin-right: 0.5rem;
          display: inline-block;
          position: relative;
          top: 2px;

          @media screen and (min-width: vars.$md) {
            transition: 0.2s ease;

            &:hover {
              transform: scale(1.2);
            }
          }
        }

        &__name {
          font-size: 0.875rem;
          font-weight: 200;
        }
      }
    }

    .email {
      .address {
        @include mixins.flex(center, center, row);
        flex-wrap: wrap;
        font-size: 1.125rem;
        font-style: normal;

        &__name {
          font-weight: 700;
        }

        &__domain {
          font-weight: 200;
        }
      }
    }
  }
}
