@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply outline-offset-4 outline-blue;
  }

  *::selection {
    @apply bg-blue text-white;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-black font-sans text-white antialiased;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer components {
  .anti-aliasing {
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
}
