@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/mixins' as mixins;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: vars.$font-primary, vars.$fallback-font;
  color: vars.$color-white;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: vars.$color-primary vars.$color-black;
}

*::selection {
  background-color: vars.$color-primary;
  color: vars.$color-white;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: vars.$color-primary;
}

*::-webkit-scrollbar-track {
  background: vars.$color-black;
}

::-webkit-scrollbar-corner {
  background: vars.$color-black;
}

body {
  background: vars.$color-black;
}

div {
  background: vars.$color-black;
}

main {
  margin-top: vars.$header-height;
}

main,
header,
footer {
  div {
    background: initial;
  }
}

section {
  @include mixins.max-width;
  min-height: calc(889px + vars.$sections-spacing);
  padding: vars.$sections-spacing vars.$mobile-layout-paddings;
  @include mixins.flex(space-between, center, column);
  gap: vars.$components-spacing;
  background: vars.$color-black;
  transition: 0.4s ease;

  @media screen and (min-width: vars.$xl) {
    padding: vars.$sections-spacing vars.$desktop-layout-paddings;
  }

  .heading {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;

    @media screen and (min-width: vars.$md) {
      font-size: 3rem;
    }
  }
}

.next-error-h1 {
  border-color: vars.$color-primary !important;
}
