@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/mixins' as mixins;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: vars.$font-primary, vars.$fallback-font;
  color: vars.$color-white;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: vars.$color-primary vars.$color-black;
}

*::selection {
  background-color: vars.$color-primary;
  color: vars.$color-white;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: vars.$color-primary;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  background: vars.$color-black;
}

main {
  margin-top: vars.$header-height;
}

section {
  @include mixins.max-width;
  min-height: calc(100vh - vars.$header-height);
  padding: vars.$sections-spacing vars.$mobile-layout-paddings;
  @include mixins.flex(center, center, row);

  @media screen and (min-width: vars.$md) {
    @include mixins.flex(space-between, center, row);
  }

  @media screen and (min-width: vars.$xl) {
    padding: vars.$sections-spacing vars.$desktop-layout-paddings;
  }
}
