@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/mixins' as mixins;

.footer {
  width: 100%;
  border-top: 1px solid vars.$border-color;
  background: vars.$color-black;
  transition: 0.4s ease;

  .content {
    @include mixins.max-width;
    padding: vars.$sections-spacing vars.$mobile-layout-paddings;
    @include mixins.flex(center, center, column);
    gap: 2.75rem;

    @media screen and (min-width: vars.$md) {
      @include mixins.flex(space-between, center, row);
    }

    @media screen and (min-width: vars.$xl) {
      padding: vars.$sections-spacing vars.$desktop-layout-paddings;
    }

    .copyright {
      @include mixins.flex(flex-start, center, column);
      gap: 2.75rem;

      @media screen and (min-width: vars.$md) {
        @include mixins.flex(flex-start, flex-start, column);
        gap: 1.5rem;
      }

      &__text {
        font-size: 0.875rem;
        color: vars.$color-grey;
        text-align: center;

        &--license {
          display: block;
          color: inherit;

          @media screen and (min-width: vars.$xs) {
            display: inline;
          }
        }
      }
    }

    &__socialMedia {
      @include mixins.flex(center, center, row);
      flex-wrap: wrap;
      gap: 2.75rem;

      a,
      svg {
        width: 2.25rem;
        height: 2.25rem;
      }

      @media screen and (min-width: vars.$md) {
        gap: 4.5rem;
      }
    }
  }
}
